In [2]:
# in memory database, local memory.
import sqlite3
# develop in C
# it's API(usage) are available in all devices
# stoes only tabular data

In [2]:
# you can also create .txt file
# here, in sql or mongodb, we would pass the connection url, however, here we are creaing database in local system.
db = sqlite3.connect('ineuron.db')

In [3]:
c= db.cursor()

In [4]:
c.execute('create table fsds(name text, batchid int, marks real)')

OperationalError: table fsds already exists

In [5]:
c.execute("insert into fsds values('sudh',34534,234.64)")

In [9]:
ls
# two files are created ineuron.db and ineuron-journal.db

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\CODE_STUFF\Jupyter_notebooks\KNAWLEDGE

26-02-2022  08:23    <DIR>          .
26-02-2022  08:23    <DIR>          ..
20-02-2022  20:26    <DIR>          .ipynb_checkpoints
20-02-2022  12:52            30,747 13 feb.ipynb
16-01-2022  15:52             6,972 23rd Dec 2021 Homework.ipynb
11-02-2022  15:51           105,905 5 feb 2022 MySQL.ipynb
12-02-2022  07:53           449,588 6 Feb 2022 MySQL.ipynb
11-01-2022  17:10               121 abc.txt
09-02-2022  18:07            51,867 car.data
19-02-2022  12:58           628,633 carbon_nanotubes.csv
20-02-2022  20:22           628,633 CarbonNanotubeData.csv
20-02-2022  20:23               832 CarbonNanoTubes.log
04-01-2022  18:29            15,964 Data Visualization.ipynb
20-02-2022  18:01           628,633 downloaded.csv
20-02-2022  19:33         1,934,741 Feb 19 Task.ipynb
26-02-2022  08:23             7,203 Feb 20.ipynb
29-01-2022  07:15    <DIR>          FSDS CLASS RESOURCES
09-02-2022  12:10    <DIR>          FSDS CLASS RESOURCES NEW
04-02-2022  22:07    <DIR>          FSDS MY CLASS NOTEBOOKS
31-12-2021  15:44            29,365 Function in pyton  (1) ( old).ipynb
05-02-2022  11:47            11,903 glass.data
11-01-2022  19:13               763 google.txt
20-02-2022  10:43             8,192 ineuron.db
26-02-2022  08:18                 0 ineuron.db-journal
26-01-2022  12:01    <DIR>          logging
19-01-2022  16:16               246 LogTest.log
21-01-2022  14:40               200 LogTest2.log
21-01-2022  15:02               417 LogTest3.log
21-01-2022  15:14               526 LogTest4.log
06-11-2021  11:49            38,972 Matplotlib.ipynb
19-02-2022  10:22            57,353 mongodb class 1.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
20-02-2022  20:25        15,203,648 Somanshu_Sharma_19_FEB_iNeuron_Task.ipynb
09-01-2022  19:03               129 test.log
29-01-2022  11:42                 5 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
19-02-2022  10:27    <DIR>          Untitled Folder
02-02-2022  12:36            12,280 Untitled.ipynb
02-02-2022  12:36             5,570 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              36 File(s)     20,382,581 bytes
               8 Dir(s)  12,226,363,392 bytes free

In [6]:
data = c.execute("select * from fsds")

In [7]:
for i in data : 
    print(i)

('sudh', 34534, 234.64)
('sudh', 34534, 234.64)

In [10]:
db.commit()

In [11]:
db.close()

In [12]:
ls
# you can notice that after closing  'db', the 'ineuron-journal.db' is closed now.
# It is like a cache file, a temp file, that helps in storing of the data

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\CODE_STUFF\Jupyter_notebooks\KNAWLEDGE

26-02-2022  08:27    <DIR>          .
26-02-2022  08:27    <DIR>          ..
20-02-2022  20:26    <DIR>          .ipynb_checkpoints
20-02-2022  12:52            30,747 13 feb.ipynb
16-01-2022  15:52             6,972 23rd Dec 2021 Homework.ipynb
11-02-2022  15:51           105,905 5 feb 2022 MySQL.ipynb
12-02-2022  07:53           449,588 6 Feb 2022 MySQL.ipynb
11-01-2022  17:10               121 abc.txt
09-02-2022  18:07            51,867 car.data
19-02-2022  12:58           628,633 carbon_nanotubes.csv
20-02-2022  20:22           628,633 CarbonNanotubeData.csv
20-02-2022  20:23               832 CarbonNanoTubes.log
04-01-2022  18:29            15,964 Data Visualization.ipynb
20-02-2022  18:01           628,633 downloaded.csv
20-02-2022  19:33         1,934,741 Feb 19 Task.ipynb
26-02-2022  08:27             7,270 Feb 20.ipynb
29-01-2022  07:15    <DIR>          FSDS CLASS RESOURCES
09-02-2022  12:10    <DIR>          FSDS CLASS RESOURCES NEW
04-02-2022  22:07    <DIR>          FSDS MY CLASS NOTEBOOKS
31-12-2021  15:44            29,365 Function in pyton  (1) ( old).ipynb
05-02-2022  11:47            11,903 glass.data
11-01-2022  19:13               763 google.txt
26-02-2022  08:27             8,192 ineuron.db
26-01-2022  12:01    <DIR>          logging
19-01-2022  16:16               246 LogTest.log
21-01-2022  14:40               200 LogTest2.log
21-01-2022  15:02               417 LogTest3.log
21-01-2022  15:14               526 LogTest4.log
06-11-2021  11:49            38,972 Matplotlib.ipynb
19-02-2022  10:22            57,353 mongodb class 1.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
20-02-2022  20:25        15,203,648 Somanshu_Sharma_19_FEB_iNeuron_Task.ipynb
09-01-2022  19:03               129 test.log
29-01-2022  11:42                 5 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
19-02-2022  10:27    <DIR>          Untitled Folder
02-02-2022  12:36            12,280 Untitled.ipynb
02-02-2022  12:36             5,570 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              35 File(s)     20,382,648 bytes
               8 Dir(s)  12,228,403,200 bytes free

In [3]:
db = sqlite3.connect('ineuron.db')

In [4]:
 c = db.cursor()

In [5]:
c.execute("insert into fsds values('sudh',34534,234.64)")
c.execute("insert into fsds values('sudh',34534,234.64)")
c.execute("insert into fsds values('sudh',34534,234.64)")
c.execute("insert into fsds values('sudh',34534,234.64)")
c.execute("insert into fsds values('sudh',34534,234.64)")
c.execute("insert into fsds values('sudh',34534,234.64)")
c.execute("insert into fsds values('sudh',34534,234.64)")

In [8]:
db.commit()

In [6]:
data = c.execute("select * from fsds where marks > 200")

In [7]:
for i in data : 
    print(i)

('sudh', 34534, 234.64)
('sudh', 34534, 234.64)
('sudh', 34534, 234.64)
('sudh', 34534, 234.64)
('sudh', 34534, 234.64)
('sudh', 34534, 234.64)
('sudh', 34534, 234.64)
('sudh', 34534, 234.64)
('sudh', 34534, 234.64)

In [24]:
data = c.execute("select * from fsds where name = 'sudh'")

In [9]:
for i in data : 
    print(i)

In [26]:
data = c.execute("select name, marks from fsds")

In [27]:
for i in data : 
    print(i)

('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)

In [10]:
data = c.execute("select name,marks from fsds order by marks")
# defaulty ascending

In [11]:
for i in data : 
    print(i)

('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)
('sudh', 234.64)

In [12]:
db.close()

In [13]:
db = sqlite3.connect("person.db")

In [22]:
c = db.cursor()

In [23]:
c.execute("create table person_table(name text,mail text,age int,salary real)")

OperationalError: table person_table already exists

In [24]:
ls

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\CODE_STUFF\Jupyter_notebooks\KNAWLEDGE

26-02-2022  08:57    <DIR>          .
26-02-2022  08:57    <DIR>          ..
20-02-2022  20:26    <DIR>          .ipynb_checkpoints
20-02-2022  12:52            30,747 13 feb.ipynb
16-01-2022  15:52             6,972 23rd Dec 2021 Homework.ipynb
11-02-2022  15:51           105,905 5 feb 2022 MySQL.ipynb
12-02-2022  07:53           449,588 6 Feb 2022 MySQL.ipynb
11-01-2022  17:10               121 abc.txt
09-02-2022  18:07            51,867 car.data
19-02-2022  12:58           628,633 carbon_nanotubes.csv
20-02-2022  20:22           628,633 CarbonNanotubeData.csv
20-02-2022  20:23               832 CarbonNanoTubes.log
04-01-2022  18:29            15,964 Data Visualization.ipynb
20-02-2022  18:01           628,633 downloaded.csv
20-02-2022  19:33         1,934,741 Feb 19 Task.ipynb
26-02-2022  08:57            19,884 Feb 20.ipynb
29-01-2022  07:15    <DIR>          FSDS CLASS RESOURCES
09-02-2022  12:10    <DIR>          FSDS CLASS RESOURCES NEW
04-02-2022  22:07    <DIR>          FSDS MY CLASS NOTEBOOKS
31-12-2021  15:44            29,365 Function in pyton  (1) ( old).ipynb
05-02-2022  11:47            11,903 glass.data
11-01-2022  19:13               763 google.txt
26-02-2022  08:53             8,192 ineuron.db
26-01-2022  12:01    <DIR>          logging
19-01-2022  16:16               246 LogTest.log
21-01-2022  14:40               200 LogTest2.log
21-01-2022  15:02               417 LogTest3.log
21-01-2022  15:14               526 LogTest4.log
06-11-2021  11:49            38,972 Matplotlib.ipynb
19-02-2022  10:22            57,353 mongodb class 1.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
26-02-2022  08:55             8,192 person.db
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
20-02-2022  20:25        15,203,648 Somanshu_Sharma_19_FEB_iNeuron_Task.ipynb
09-01-2022  19:03               129 test.log
29-01-2022  11:42                 5 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
19-02-2022  10:27    <DIR>          Untitled Folder
02-02-2022  12:36            12,280 Untitled.ipynb
02-02-2022  12:36             5,570 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              36 File(s)     20,403,454 bytes
               8 Dir(s)  12,199,026,688 bytes free

In [29]:
c.execute("insert into person_table values('som','somanshu@blah.com', 21, 600000.00)")
c.execute("insert into person_table values('som','somanshu@blah.com', 21, 600000.00)")
c.execute("insert into person_table values('som','somanshu@blah.com', 21, 600000.00)")
c.execute("insert into person_table values('som','somanshu@blah.com', 21, 600000.00)")
c.execute("insert into person_table values('som','somanshu@blah.com', 21, 600000.00)")
c.execute("insert into person_table values('som','somanshu@blah.com', 21, 600000.00)")

In [30]:
data = c.execute("select * from person_table")

In [31]:
for i in data : 
    print(i)

('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)

In [32]:
db.commit()

In [33]:
c.close()

In [34]:
db.close()

In [36]:
db = sqlite3.connect('ineuron.db')

In [37]:
c = db.cursor()

In [38]:
c.execute('drop table fsds')

In [39]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [40]:
ls

 Volume in drive C is OS
 Volume Serial Number is 92ED-0D26

 Directory of C:\Users\soman\CODE_STUFF\Jupyter_notebooks\KNAWLEDGE

26-02-2022  09:03    <DIR>          .
26-02-2022  09:03    <DIR>          ..
20-02-2022  20:26    <DIR>          .ipynb_checkpoints
20-02-2022  12:52            30,747 13 feb.ipynb
16-01-2022  15:52             6,972 23rd Dec 2021 Homework.ipynb
11-02-2022  15:51           105,905 5 feb 2022 MySQL.ipynb
12-02-2022  07:53           449,588 6 Feb 2022 MySQL.ipynb
11-01-2022  17:10               121 abc.txt
09-02-2022  18:07            51,867 car.data
19-02-2022  12:58           628,633 carbon_nanotubes.csv
20-02-2022  20:22           628,633 CarbonNanotubeData.csv
20-02-2022  20:23               832 CarbonNanoTubes.log
04-01-2022  18:29            15,964 Data Visualization.ipynb
20-02-2022  18:01           628,633 downloaded.csv
20-02-2022  19:33         1,934,741 Feb 19 Task.ipynb
26-02-2022  09:01            21,625 Feb 20.ipynb
29-01-2022  07:15    <DIR>          FSDS CLASS RESOURCES
09-02-2022  12:10    <DIR>          FSDS CLASS RESOURCES NEW
04-02-2022  22:07    <DIR>          FSDS MY CLASS NOTEBOOKS
31-12-2021  15:44            29,365 Function in pyton  (1) ( old).ipynb
05-02-2022  11:47            11,903 glass.data
11-01-2022  19:13               763 google.txt
26-02-2022  09:03             8,192 ineuron.db
26-01-2022  12:01    <DIR>          logging
19-01-2022  16:16               246 LogTest.log
21-01-2022  14:40               200 LogTest2.log
21-01-2022  15:02               417 LogTest3.log
21-01-2022  15:14               526 LogTest4.log
06-11-2021  11:49            38,972 Matplotlib.ipynb
19-02-2022  10:22            57,353 mongodb class 1.ipynb
14-11-2021  18:03            19,231 Pandas.ipynb
26-02-2022  09:01             8,192 person.db
30-12-2021  12:41            24,196 Python.ipynb
23-12-2021  21:45            14,943 Seaborn 2.ipynb
08-11-2021  11:12           460,445 Seaborn.ipynb
20-02-2022  20:25        15,203,648 Somanshu_Sharma_19_FEB_iNeuron_Task.ipynb
09-01-2022  19:03               129 test.log
29-01-2022  11:42                 5 test.txt
07-01-2022  12:08                 0 test2.txt
07-01-2022  12:12                16 test3.txt
19-02-2022  10:27    <DIR>          Untitled Folder
02-02-2022  12:36            12,280 Untitled.ipynb
02-02-2022  12:36             5,570 Untitled1.ipynb
07-01-2022  12:13             4,342 Untitled2.ipynb
              36 File(s)     20,405,195 bytes
               8 Dir(s)  12,195,581,952 bytes free

In [41]:
db.close()

In [42]:
db = sqlite3.connect('person.db')

In [43]:
c = db.cursor()

In [45]:
data = c.execute("select * from person_table limit 2")

In [46]:
 for i in data : 
    print(i)

('som', 'somanshu@blah.com', 21, 600000.0)
('som', 'somanshu@blah.com', 21, 600000.0)

In [47]:
# join operation

In [48]:
db = sqlite3.connect('joindb.db')

In [49]:
c = db.cursor()

In [50]:
c.execute('create table student(student_id int, student_name text, student_mailid text, marks int)')

In [ ]:
c.execute('create table address(student_id text, pincode int,location text )')